* {
  margin: 0px;
  padding: 0px;
  text-align: center;
  font-family: Sans-Serif, Helvetica, Arial;
}

.page-container {
  max-width: 900px;
  width: auto;
  align-content: center;
  margin: auto;
}

.title-padding {
  padding-bottom: 70px;
  padding-top: 60px;
}

.name-title-text {
  font-size: 80px;
  border-bottom: solid whitesmoke;
}

.sub-title {
  padding-top: 60px;
  line-height: 1.6;
  font-size: 20px;
}

.round-image {
  border-radius: 50%;
}

.social-link-padding {
  padding-bottom: 30px;
}
