.button-style {
  background-color: lightblue;
  color: white;
  padding: 3% 5%;
  text-align: center;
  text-size: 24px;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.7s;
}

.button-style:hover {
  background-color: #008cba;
  color: white;
  text-decoration: none;
}

.nav-bar-padding {
  padding-bottom: 90px;
}
