.page-container {
  max-width: 800px;
  width: 800px;
  align-content: center;
  margin: auto;
}

.list-style {
  list-style-type: none;
}

.body-text {
  border: solid rgb(232, 227, 227);
  line-height: 1.6;
}

ul li {
  padding-bottom: 20px;
}
/* 
  .work-experience {
    font-size: 50px;
    padding-bottom: 30px;
  }
  
  .list-styles {
    list-style-type: none;
    width: auto;
    white-space: nowrap;
  }
  
  .sub-header {
    font-size: 60px;
    padding-bottom: 40px;
  }
  
  .sub-header-child {
    font-size: 40px;
  }
  
  .work-experience-body {
    font-size: 30px;
    padding-bottom: 60px;
  } 
  
  */
