* {
  margin: 0px;
  padding: 0px;
  text-align: center;
}

.name-title-text {
  font-size: 90px;
  padding-bottom: 90px;
}

.title-padding {
  padding-bottom: 90px;
}

/*
.body-text {
  border: solid lightgray;
}

.work-experience {
  font-size: 50px;
  padding-bottom: 30px;
}

.list-styles {
  list-style-type: none;
  width: auto;
  white-space: nowrap;
}

.sub-header {
  font-size: 60px;
  padding-bottom: 40px;
}

.sub-header-child {
  font-size: 40px;
}

.work-experience-body {
  font-size: 30px;
  padding-bottom: 60px;
} */
